<?xml version="1.0" encoding="utf-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        strict="true"
        >
    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory suffix=".php">example/</directory>
                <directory suffix=".php">tests/</directory>
                <directory suffix=".php">vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <const name="TESTING" value="0" />
    </php>
</phpunit>
