<?xml version="1.0" encoding="utf-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        >
    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="TESTING" value="0" />
    </php>
</phpunit>
